APP_ENV=prod
APP_DEBUG=1
APP_SECRET=55f545d2d95971ffb7f2dc62164413ac
MAILER_DSN=smtp://5effc5a00f5fbd:27555bb2c2e2aa@smtp.mailtrap.io:2525?encryption=tls&auth_mode=login
DATABASE_URL="mysql://root:Youssef@2310@127.0.0.1:3306/blogs?serverVersion=5.7"
RABBITMQ_DSN=doctrine://default
