<div class="nk-footer" style="background: transparent; border: none">
    <div class="container wide-xl">
        <div class="row my-3">
            <div class="col-lg-6 mx-auto text-gray">
                <div class="d-flex flex-column align-items-center">
                    <h6 class="text-gray">Follow Us On</h6>
                    <div class="d-flex justify-content-around fa-2x w-100">
                        <em class="icon ni ni-facebook-f social-media-icon"></em>
                        <em class="icon ni ni-twitter social-media-icon"></em>
                        <em class="icon ni ni-pinterest social-media-icon"></em>
                        <em class="icon ni ni-viber social-media-icon"></em>
                        <em class="icon ni ni-tumblr social-media-icon"></em>
                        <em class="icon ni ni-telegram social-media-icon"></em>
                    </div>
                    <div class="my-1">
                        <p>{{ APP_NAME }} &copy; 2020-2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>